@import "./assets/font/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
      :root {
            --background: 240 10% 3.9%;
            --foreground: 258 89.5% 66.3%;
            --card: 240 10% 3.9%;
            --card-foreground: 0 0% 98%;
            --popover: 240 10% 3.9%;
            --popover-foreground: 0 0% 98%;
            --primary: 0 0% 98%;
            --primary-foreground: 240 5.9% 10%;
            --secondary: 240 3.7% 15.9%;
            --secondary-foreground: 0 0% 98%;
            --muted: 240 3.7% 15.9%;
            --muted-foreground: 240 5% 64.9%;
            --accent: 240 3.7% 15.9%;
            --accent-foreground: 0 0% 98%;
            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 0 0% 98%;
            --border: 240 3.7% 15.9%;
            --input: 240 3.7% 15.9%;
            --ring: 240 4.9% 83.9%;
            --radius:10px;
            
      }
}
body{
      @apply bg-background text-white;
}
* {
      @apply p-0 m-0 box-border font-global
}

.auth-wrapper .auth-bg {
      background-image: url("./assets/images/auth-bg.jpg");
      @apply w-full h-full bg-cover bg-center
}
::-webkit-scrollbar{
      display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}